<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="conocenos">Conocenos</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
