#contenedor{
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cuadrado-1{
    background-color: #002B7F;
    width: 250px;
    height: 250px;
}

.cuadrado-2{
    background-color: #FCD116;
    width: 250px;
    height: 250px;
}

.cuadrado-3{
    background-color: #CE1126;
    width: 250px;
    height: 250px;
}

h1{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 125px;
}

body{
    background-color: #fff7d4;
}