/* Aca comienzan los estilos de las etiquetas */

h1, h3, p, ul{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 90px;
    font-weight: 900;
    color: whitesmoke;
}

h3{
    font-size: 28px;
    font-weight: 800;
}

img{
    border-radius: 200px 200px 200px 200px;
    height: 200px;
    margin-left: 65px;
    margin-right: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

p, ul{
    font-size: 18px;
}

a{
    color: black;
}

a:hover{
    color: coral
}

/*Aca comienzan los estilos de las etiquetas semanticas*/

header, div, footer{
    display: flex;
}

header{
    background-color: rgb(100,100,100);
}

div{
    height: 600px;
}

.bloque-izquierdo, .bloque-derecho{
    padding-left: 75px;
    padding-right: 25%;
    padding-top: 75px;
}

.bloque-izquierdo{
    background-color: rgb(255, 248, 246);
}

.bloque-derecho{
    background-color: rgb(220,220,220);
}

footer{
    background-color: rgb(255, 222, 209);
    padding-left: 65px;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}